<%- include('tete'); -%>

            <!-- END HEADER DESKTOP-->
<%- include('header'); -%>
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">Nous sommes a la page:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                           <h3>Acceuil</h3>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- STATISTIC-->
            <section class="statistic">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-lg-3">
                                   <a href="/admin/devis">
                                    <div class="au-card-inner overview-item overview-item--c4">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fas fa-file-text"></i>
                                            </div>
                                            <div class="text">
                                                <h2>Les Devis</h2>
                                                <span>Retrouver ici les devis des clients</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                
                            </div>
                            <div class="col-sm-12 col-lg-3">
                               <a href="/admin/message">
                                <div class="au-card-inner overview-item overview-item--c3">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="fas  fa-envelope"></i>
                                        </div>
                                        <div class="text">
                                            <h2>Message</h2>
                                            <span>Retrouver  les messages du client</span>
                                        </div>
                                    </div>
                                </div>
                               </a>
                            
                        </div>
                            <div class="col-sm-12 col-lg-3">
                              <a href="/admin/email">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fas fa-mail-reply-all"></i>
                                            </div>
                                            <div class="text">
                                                <h2>EMAIL</h2>
                                                <span>Retrouver ici les emails des clients</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-sm-12 col-lg-3">
                                <a href="/admin/service"> 
                                    <div class="overview-item overview-item--c1">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="fas fa-book"></i>
                                                </div>
                                                <div class="text">
                                                    <h2>SERVICE</h2>
                                                    <span>Modifier ici les services</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-lg-3">
                              <a href="/admin/projet">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fas fa-bookmark"></i>
                                            </div>
                                            <div class="text">
                                                <h2>PROJETS</h2>
                                                <span>Modifier ici les Projets</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </a>
                            </div>                      
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

            <%- include('pied'); -%>
      
</body>

</html>
<!-- end document-->
