<%- include('tete'); -%>

            <!-- END HEADER DESKTOP-->
<%- include('header'); -%>
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">Nous sommes a la page:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <h3>Projet</h3>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- STATISTIC-->
            <section class="statistic">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                               <a href="/admin/projetmodifie/1">
                                <div class="card">
                                    <div class="card-header bg-secondary">
                                        <strong class="card-title text-light">Projet 1 </strong>
                                    </div>
                                    <div class="card-body text-white bg-primary">
                                        <p class="card-text text-light">CLique ici pour modifier le contenue du premier Projet 
                                        </p>
                                    </div>
                                </div>
                               </a>
                            </div>    
                            <div class="col-md-4">
                                <a href="/admin/projetmodifie/2">
                                 <div class="card">
                                     <div class="card-header bg-dark">
                                         <strong class="card-title text-light">Projet 2 </strong>
                                     </div>
                                     <div class="card-body text-white bg-primary">
                                         <p class="card-text text-light">CLique ici pour modifier le contenue du deuxieme Projet 
                                         </p>
                                     </div>
                                 </div>
                                </a>
                             </div>    
                             <div class="col-md-4">
                                <a href="/admin/projetmodifie/3">
                                 <div class="card">
                                     <div class="card-header bg-secondary">
                                         <strong class="card-title text-light">Projet 3 </strong>
                                     </div>
                                     <div class="card-body text-white bg-primary">
                                         <p class="card-text text-light">CLique ici pour modifier le contenue du Troisieme Projet 
                                         </p>
                                     </div>
                                 </div>
                                </a>
                             </div>
                             <div class="col-md-4">
                                <a href="/admin/projetmodifie/4">
                                 <div class="card">
                                     <div class="card-header bg-dark">
                                         <strong class="card-title text-light">Projet 4 </strong>
                                     </div>
                                     <div class="card-body text-white bg-primary">
                                         <p class="card-text text-light">CLique ici pour modifier le contenue du quatrieme Projet 
                                         </p>
                                     </div>
                                 </div>
                                </a>
                             </div>           
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

            <%- include('pied'); -%>
      
</body>

</html>
<!-- end document-->
